<?xml version="1.0" encoding="utf-8"?>
<!--HTTP/HTTPS Supported-->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
    <httpRuntime maxUrlLength="10999" maxQueryStringLength="2097151" maxRequestLength="2097151" useFullyQualifiedRedirectUrl="true" executionTimeout="14400"/>
  </system.web>
  <appSettings>
    <add key="SrvName" value="10.10.1.4" />
    <!--Change in . during publish-->
    <add key="DBName" value="RAFI_FINAL" />
    <!--Change DB Name during publish-->
    <add key="PassPW" value="m!$RmF2015" />
    <!--Change FB Pass during publish-->
    <add key="DbUser" value="sa" />
    <!--Change DB User during publish-->
    <add key="MobAppVersionCode" value="1" />
    <!--Change version during app update-->
  </appSettings>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="HttpsBinding" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed">
          <security mode="None">
            <!--Set security mode "Transport" during publish-->
            <transport clientCredentialType="None" />
          </security>
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
						maxArrayLength="2147483647" maxBytesPerRead="2147483647"
						maxNameTableCharCount="2147483647"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <behaviors>
      <endpointBehaviors>
        <behavior name="ProjectEndpointBehavior">
          <webHttp helpEnabled="true"/>
          <!--Set false during publish -->
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ProjectServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceMetadata httpsGetEnabled="true" httpGetEnabled="true" />
          <!--Set Both false during publish-->
          <serviceDebug httpsHelpPageEnabled="true" httpHelpPageEnabled="true" includeExceptionDetailInFaults="true" />
          <!--Set three false during publish-->
        </behavior>
        <behavior name="">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceMetadata httpsGetEnabled="true" httpGetEnabled="true" />
          <!--Set Both false during publish-->
          <serviceDebug httpsHelpPageEnabled="true" httpHelpPageEnabled="true" includeExceptionDetailInFaults="true" />
          <!--Set three false during publish-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="CMTRMFWebService.CMTRMFService" behaviorConfiguration="ProjectServiceBehavior">
        <!--Change "CMTRMFWebService.CMTRMFService" value for different project-->
        <endpoint
          behaviorConfiguration="ProjectEndpointBehavior"
          address="https://cms.rmf.org.ph:39112/" binding="wsHttpBinding"
          bindingConfiguration="HttpsBinding"
          contract="CMTRMFWebService.ICMTRMFService" />
        <!--Change "CMTRMFWebService.ICMTRMFService" value for different project-->
        <!--<endpoint address="mex" 
                  binding="mexHttpsBinding" 
                  contract="IMetadataExchange"/>-->
        <!--Enable during publish-->
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <staticContent>
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
      <!--To download apk with ".apk" extension-->
    </staticContent>
    <defaultDocument>
      <files>
        <add value="CMTRMFService.svc" />
        <!--Change "CMTRMFService.svc" value for different project-->
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>